.MainPage {
    color: F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.WelcomeText {
    position: relative;
    height: 67px;
    font-family: 'ABeeZee';
    font-weight: bold;
    font-style:normal;
    font-size: 25px;
    line-height: 24px;
    color: #000000;
}

.blackButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 19px;
    font-family: 'AzeeBee';
}

.BlackButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 35px 25px;
    gap: 10px;
    margin-left: 8px;
    width: 150px;
    height: 60px;
    color:white;
    background: rgba(11, 10, 10, 0.85);
    box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);
    border-radius: 4px;
}

.GreyButton {
    box-sizing: border-box;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 282px;
    height: 72px;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.GreyButton:hover {
    cursor: pointer;
}

.BlackButton:hover {
    cursor: pointer;
}
