.IntakeForm{
    margin:auto;
    display:inline-block;
    align-content: center;
    justify-content: center;
}.IncidentLocation{
    margin-top: 12px;
    align-content: center;
    justify-content: center;
}