.nearby-hospitals {
  width: 80%;
  padding: 30px;
  margin: 50px auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 3px #ccc;
  
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 10px;
}

thead {
  background-color: #ddd;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  width: 100px;
  margin-bottom: 30px;
  align-items: center;
}
