.transmission-confirmation {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 3px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 30px;
}

.file-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.file-info span {
  font-weight: bold;
  display: inline-block;
  width: 120px;
  text-align: center;
}

.file-list {
  list-style: decimal inside;
  text-align: center;
  padding-left: 20px;
}

.transaction-info {
  margin-bottom: 30px;
}

.status {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}

img {
  width: 100px;
  margin-bottom: 30px;
  align-items: center;
}
